body{
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

form{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* label h3{
  text-align: left;
} */

.form{
  text-align: center;
  border: 2px solid white;
  padding: 20px 0 60px;
}

.form h1{
  margin-bottom: 50px;
  font-size: 30px;
  color: white;
}

input{
  width: 300px;
  background-color: black;
  padding: 15px;
  color: white;
  outline: none;
  border: none;
}

.alert{
  margin: 0;
  color: red;
}
